<!DOCTYPE html>
<html ng-app="DoctorDoctorApp">
  <head>
    <meta charset="utf-8">
    <script src="lib/jquery-3.2.1.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Doctor Doctor, won't you give me the news?</title>
  </head>
  <body>

    <h2>Doctor Doctor, won't you give me the news?</h2>
    <div id="banner-container">
      <img id="banner" src="img/doctor_banner.png" alt="Doctor Banner Image"/>
    </div>

    <div ng-controller="DoctorDoctorController">

      <div class="jumbotron" id="search-container">
          <input id="search-box"
                  type="text"
                  placeholder="Enter ailment"
                  class="form-control"
                  ng-model="ailment">
          <button
                id="search-button"
                class="btn btn-primary btn-lg"
                ng-click="showResults()">
                Diagnose</button>
      </div>

      <div class="jumbotron" id="results-container" ng-show="helpLink">
          {{ diagnoseRes }} <a href="{{ helpLink }}">advice</a>
      </div>


    </div>



    <div class="footer">
        <p>This website is open source. Contributions are welcome: <a target="_blank" href="https://github.com/galtech/doctordoctor">Github repo</a></p>
    </div>


  </body>
</html>
