h2{
  text-align: center;
}

#search-box.form-control{
  width: 50%;
  margin: auto;
}

button#search-button{
  width: 20%;
  margin-top: .5em;
}

div#search-container{
  text-align: center;
}

div#results-container{
  font-weight: bold;
  color: red;
  font-size: 18pt;
}

div#banner-container{
    text-align: center;
}

#banner{
  width: 25%;
  height: 25%;
}
